streamlit==1.31.0
google-cloud-aiplatform==1.132.0
google-auth>=2.45.0
google-auth-oauthlib==1.2.3
requests
google-adk==1.21.0
pydantic-settings
python-dotenv

# Fix dependency backtracking
google-api-python-client>=2.150.0
google-api-core>=2.15.0
protobuf>=4.25.0
